<p id="notice"><%= notice %></p>

<h1>Url Shortener</h1>

<%= render 'form', url: @url %>

<table class="table">
  <thead>
    <tr>
      <th>Original</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= link_to "Click", url.original %> to see Page</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


